@import "../../../styles/fonts.module";

.infoCard {
  display: flex;
  justify-content: space-between;
  padding-top: 3em;

  h2 {
    font-size: 3em;
  }

  &__image {
    height: 21em;
    width: 30em;
    border-radius: 10px;
    background-color: rgb(27, 99, 155);
    box-shadow: 12px 8px 15px rgb(19, 19, 19);
  }

  &__text {
    width: 50%;
    h2 {
      font-weight: 700;
      margin-bottom: .3em;
      font-family: $titulos;
    }
    p {
      line-height: 1.5em;
      text-align: justify;
    }
  }
}
