@import "../../../styles/colors.module";
@import "../../../styles/fonts.module";

.bannerInfo {
  translate: 1em 3em;
  font-family: $paragrafos;
  h1 {
    font-family: $titulo-pricipal;
    font-size: 8em;
    margin: 0 0;
    font-weight: 700;
    margin-block-start: 0;
    margin-inline-end: 0;
  }
  p {
    width: 30em;
    margin: 0 0 .2em 0;
    text-align: justify;
    line-height: normal;
  }
  button {
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    background-color: white;
    border: none;
    width: 9em;
    padding: 0.3em;
    transition: background-color .7s ease-in-out;
    transition: color .7s ease-in-out;
  }
}

.bannerInfo button:hover {
  color: white;
  cursor: pointer;
  background-color: $vermelho-meio-claro;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bannerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 3.3em;
    }
    p {
      width: 16em;
      text-align: left;
      margin-bottom: .5em;
    }
  }
  
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}