@import "../../styles/breakpoints.module.scss";

.cabecalho {
  padding: $default-padding;
  background-image: url('/assets/img/soldier-military-machine-gun-war-silhouette-black-7680x4320-6596.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;
  height: calc(100vh - 9em);
  

  &__banner {
    padding: 2em;
    padding-top: 4em;
  }
}

