@import "../../styles/breakpoints.module.scss";
@import "../../styles/fonts.module";
@import "../../styles/colors.module";

.artigos {
  padding: $default-padding;

  background-image: linear-gradient(to right, #434343 0%, black 100%);

  // background: #000000;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  // background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);

  &__titulo {
    font-size: $tamanho-titulo-padrao;
    font-family: $titulos;
    color: white;
    font-weight: 700;
    margin-bottom: .5em;
  }

  &__container {
    display: flex;
    gap: 1.3em;
    aside {
      padding: .7em;
      background-color: $cinza-escuro;
      width: 30%;
      height: fit-content;
    }
  }

  &__grade {
    display: grid;
    width: 70%;
    gap: 1.3em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(30%, 45%);
  }
}


@media only screen and (max-width: 600px) {
  .artigos {

    &__grade {
      display: flex;
      flex-direction: column;
    }

    &__container {
      flex-direction: column;
    }

    &__titulo {
      font-size: 2em;
    }

  }
  
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}