@import "../../styles/breakpoints.module.scss";
@import "../../styles/colors.module";
@import "../../styles/fonts.module";

.aboutUs {
  padding: $default-padding;
  background-color: $cinza-escuro;
  font-family: $paragrafos;
  background-image: url("/assets/img/Cover 2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.ative {
  background-color: $vermelho-meio-claro;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .aboutUs {
    // display: flex;
    // flex-direction: column;
    padding: 1em;
  }
  
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}