@import "../../styles/breakpoints.module.scss";
@import "../../styles/colors.module";
@import "../../styles/fonts.module";

.aboutUs {
  padding: $default-padding;
  background-color: $cinza-escuro;
  font-family: $paragrafos;
  background-image: url("/assets/img/Cover 2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.ative {
  background-color: $vermelho-meio-claro;
  border: 1px solid $vermelho-meio-claro;
}