@import "../../styles/breakpoints.module.scss";
@import "../../styles/colors.module";
@import "../../styles/fonts.module";

.lastInfo {
  padding: $default-padding;
  display: flex;
  color: white;
  // justify-content: space-around;
  background-color: $preto-normal;
  background-repeat: no-repeat;
  background-image: url('/assets/img/vvvortex.svg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  gap: .1em;
  div {
    // background-color: rgb(82, 200, 200);
    padding: 1.3em;
  }
  h3 {
    text-align: center;
    font-family: $titulos;
    font-size: 2em;
    margin-bottom: .4em;
  }
  &__img {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      // width: 10em;
      height: 13em;
      // background-color: brown;
      margin-bottom: 1em;
    }
  }

  &__aboutUs {
    width: 33%;
    p {
      text-align: justify;
      font-family: $paragrafos;
      font-weight: 700;
    }
  }

  &__localization {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        width: 10em;
        height: 10em;
        background-color: brown;
      }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .lastInfo {
    padding: 1em;
    flex-direction: column;
    align-items: center;
    div {
      width: 100%;
      padding: 1.3em;
    }

    &__img {
      img {
        height: 10em;
        margin-bottom: .5em;
      }
    }


    &__aboutUs {
      p {
        text-align: justify;
        font-family: $paragrafos;
        font-weight: 700;
      }
    }

    
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}