.fallow-us {
  display: flex;
  justify-content: space-evenly;
  /* background-color: blueviolet; */
}
.fallow-us img {
  height: 3em;
  width: 3em;
}


.partners {
  display: flex;
  flex-direction: column;
  gap: 1em;
}