.conteudoLateral {
    padding: .5em;
    background-color: rgb(19, 144, 207);
    margin-bottom: 1em;
    h2 {
        margin-bottom: 1em;
        text-align: center;
        font-size: 1.4em;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }
}