@import "../../../styles/colors.module";
@import "../../../styles/fonts.module";

.conteudoLateral {
    padding: .5em;
    // background-color: $vermelho-meio-escuro;
    margin-bottom: 1em;
    h2 {
        font-family: $paragrafos;
        margin-bottom: 1em;
        text-align: center;
        font-size: 1.4em;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }
}